In [1]:
%%loadFromPOM
<repository>
  <id>aliyun</id>
  <url>https://maven.aliyun.com/repository/central</url>
</repository>

<dependency>
    <groupId>org.apache.commons</groupId>
    <artifactId>commons-lang3</artifactId>
    <version>3.9</version>
</dependency>

In [3]:
enum Alpha {
    a,b,c
}

In [7]:
Alpha.valueOf("A")

EvalException: No enum constant REPL.$JShell$26.Alpha.A

# 1. format

## 1.1 String.format

In [9]:
String.format(
    "name=%s, age='%d'",
    "rick",
    99999999999999L
)

name=rick, age='99999999999999'

## 1.2 MessageFormat.format

In [2]:
import java.text.MessageFormat;

In [15]:
String name = "rick";
String base = "my name is {0}, where {1} and {2} --- and where {1} and {2}";
MessageFormat.format(base, name, 9999, 888);

my name is rick, where 9,999 and 888 --- and where 9,999 and 888

In [18]:
String name = "rick";
String base = "my name is ''{0}'', where {1} and {2} --- and where {1} and {2}";
MessageFormat.format(base, name, 9999, 888);

my name is 'rick', where 9,999 and 888 --- and where 9,999 and 888

In [23]:
Map<String, String> param = new HashMap<String, String>(){{
    put("a", "aaa");
    put("b", "bbbb");
}};
param

{a=aaa, b=bbbb}

In [13]:
String baseSql = "" +
                "select * \n" +
                "from {0} \n" +
                "where op_date in ( \n" +
                "    select distinct op_date \n" +
                "    from thresh \n" +
                "    where biz_id = ''{1}'' \n" +
                "      and item_id = ''{2}'' \n" +
                "  ) \n" +
                "  and biz_id = ''{1}'' \n" +
                "  and item_id = ''{2}'' \n" +
                "order by op_date, thresh_time";

In [24]:
MessageFormat.format(baseSql, param.get("a"), param.get("b"), "4444");

select *
from aaa
where op_date in (
    select distinct op_date
    from thresh
    where biz_id = 'bbbb'
      and item_id = '4444'
  )
  and biz_id = 'bbbb'
  and item_id = '4444'
order by op_date, thresh_time

## 1.3 sql match

In [20]:
String sql = "  show    \n \t       tables ";
sql

  show
 	       tables

In [21]:
sql.trim().replaceAll("\\s+", " ").toLowerCase()

show tables

# 2. replace

## 2.1 replaceAll by regex

In [2]:
String sql = "select * from a where op_date='${opDate}' and id=${id}";
Map<String, String> arguments = new HashMap(){{
    put("opDate", "tom");
    put("id", "23");
}};

public static String format(String sql, Map<String, String> args){
    for (Map.Entry<String, String> entry : args.entrySet()) {
        sql = sql.replaceAll("\\$\\{" + entry.getKey() + "}", entry.getValue());
    }
    return sql;
}
format(sql, arguments)

select * from a where op_date='tom' and id=23

In [7]:
String camelCase = "camelCase";
camelCase.replaceAll("\\B([A-Z])", "_$1").toLowerCase()

camel_case

#### example: only remain word

In [ ]:
// String camelCase = "camelCase";
// camelCase.replaceAll("\\B([A-Z])", "_$1").toLowerCase()

# 3. commons-lang3

In [3]:
import org.apache.commons.lang3.StringUtils;

In [4]:
StringUtils.stripStart("parent.id_s", "parent.")

id_s

In [9]:
StringBuilder builder = new StringBuilder();
builder.append('a');
builder.append('b');
builder.append('c');

builder.setCharAt(0, Character.toUpperCase(builder.charAt(0)))